@import "colors";

$primaryFont: "Heebo";

body.whatever {
    h2 {
        color: red;
    }

    p {
        line-height: 1.5;
        font-family: $primaryFont;
    }

    ul {
        padding: 20px;
    }
}

@each $btn in "warning""info""success""error" {
    .btn-#{$btn} {
        background: url('/imgs/#{$btn}.png');
    }
}